/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    margin: 0;
    text-align: center;
}

#search-form {
    margin: 1rem 5%;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
}

#search-input:focus {
    outline: none;
    border-color: #333;
}


#products-h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

#search-form {
    margin-top: 3rem;
    padding: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-form input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
}

#search-form button {
    padding: 0.5rem 1rem;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #333333;
}

#admin-cart-buttons {
    width: 64px;
    height: 32px;
    padding-right: 20px;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}


.cart-button:hover {
    opacity: 0.8;
}


#products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5%;
    margin-bottom: 2rem;
}

.product-list .product-item {
    width: 20%;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.product-info {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.product-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.product-info p {
    margin-bottom: 0.5rem;
}

.product-info label {
    display: block;
    margin-top: 1rem;
}

#quantity {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-info button {
    display: block;
    width: 100%;
    padding: 0.7rem;
    margin-top: 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.product-info button:hover {
    background-color: #555;
}

.cart-list {
    width: 18%;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    align-items: center;
}

#checkout-button {
    margin-top: 2rem;
    padding: 0.7rem;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#checkout-button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
